/* Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* sfondo */
body{
  background-image: url(../img/legno.png);
}
/* Contenitore pagina */
.container{
  margin: 0 auto;
  width: 1200px;
}
/* header pagina */
header{
  background-color: #ff0;
  background-image: url(../img/foresta.png);
  text-align: center;
}
/* barra header */
.bar{
  background-color: #6d3a3d;
  padding: 15px;
}
/* contenuti barra header */
.content-bar{
  font-size: 20px;
  color: #fff;
  padding: 10px;

}

/* contenitore box */
.folder{
  margin:  10px 0  ;
}
/* Clearfix */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* Float sinistra */
.float{
  float: left;
}
/* primo box */
.box1{
  width: calc(20% - 50px);
  background-color: #fff;
  margin-right: 40px;
  padding: 5px;
}
/* allinea immagini */
.align{
  vertical-align: bottom;
}
/* titolo primo box */
.box1 > span{
  font-size: 25px;
  padding-left: 10px;

}
/* contenuto box centrale */
.content{
  padding-top: 15px;
  padding-left: 5px;
  color: #f00;
}
/* editing elementi lista */
.box1 > .content > ul{
  list-style: none;
}
.box1 > .content > ul > li{
  padding: 10px;
}
/* secondo box */
.box2{
  width: calc(60% - 80px);
  background-color: #fff;
  padding: 10px 15px;
  margin: 0 40px;
}

/* terzo box contente due in-box */
.box3{
  width: calc(20% - 50px);
  margin-left: 40px;
}
/* in-box */
.in-box{
  background-color: #fff;
  margin-bottom: 50px;
  padding: 10px 15px;
}

/* footer pagina */
footer{
background-color: #fff;
text-align: center;
}
/* titolo footer */
footer > h3{
  opacity: 0.2;
  padding-bottom: 5px;
  border-bottom: 2px #000 solid;
}
/* contenitore immagini footer */
.img-container{
  padding: 55px 15px;
  opacity: 0.2;
}
/* padding delle immagini */
.img-container > img{
  padding: 20px 100px;
}
